<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinalcrespo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Materia.AgregarMateria"></activity>
        <activity android:name=".Materia.Materia" />
        <activity android:name=".Profesor.ProfesorUpdate" />
        <activity android:name=".Profesor.AgregarProf" />
        <activity android:name=".Profesor.Profesor" />
        <activity android:name=".Alumno.AlumnoUpdate" />
        <activity android:name=".Alumno.AgregarAlumno" />
        <activity android:name=".Alumno.Alumno" />
        <activity android:name=".Home" />
        <activity android:name=".Usuario.Registrar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>